In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# df = pd.read_csv("https://raw.githubusercontent.com/anshupandey/Machine_Learning_Training/master/datasets/loans.csv")
url = '../datasets/bankdefaulter.csv'
df=pd.read_csv(url)
df[['int.rate','credit.policy','fico','recent_inq.last.6mths','loan_purpose','bad_public_record','not.fully.paid','delinquent.2yrs']][df['not.fully.paid']==1].shape

(1533, 8)

In [3]:
df[['int.rate','credit.policy','fico','recent_inq.last.6mths','loan_purpose','bad_public_record','not.fully.paid']][df['not.fully.paid']==0].shape

(8045, 7)

In [4]:
df[df['not.fully.paid']==1]

,credit.policy,loan_purpose,int.rate,installment,log.annual.inc,debt_to_income,fico,days.with.cr.line,revol.bal,revol.util,recent_inq.last.6mths,delinquent.2yrs,bad_public_record,not.fully.paid
6,1,debt_consolidation,0.1496,194.02,10.714418,4.00,667,3180.041667,3839,76.8,0.0,0.0,1.0,1
7,1,all_other,0.1114,131.22,11.002100,11.08,722,5116.000000,24220,68.6,0.0,0.0,0.0,1
57,1,credit_card,0.1343,678.08,11.884489,10.15,682,4209.958333,41674,74.1,0.0,0.0,0.0,1
65,1,all_other,0.1059,32.55,10.433822,14.47,687,1110.000000,4485,36.9,1.0,0.0,0.0,1
73,1,small_business,0.1501,225.37,12.269047,6.45,677,6240.000000,56411,75.3,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,0,all_other,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2.0,0.0,0.0,1
9574,0,all_other,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5.0,0.0,0.0,1
9575,0,debt_consolidation,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8.0,0.0,0.0,1
9576,0,home_improvement,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5.0,0.0,0.0,1
9577,0,debt_consolidation,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6.0,0.0,0.0,1

In [5]:
df[df['not.fully.paid']==0].head()

,credit.policy,loan_purpose,int.rate,installment,log.annual.inc,debt_to_income,fico,days.with.cr.line,revol.bal,revol.util,recent_inq.last.6mths,delinquent.2yrs,bad_public_record,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0.0,0.0,0.0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0.0,0.0,0.0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1.0,0.0,0.0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1.0,0.0,0.0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0.0,1.0,0.0,0

In [6]:
df[['int.rate','credit.policy','fico','recent_inq.last.6mths','loan_purpose','bad_public_record','revol.util','not.fully.paid']][df['not.fully.paid']==1].head()

,int.rate,credit.policy,fico,recent_inq.last.6mths,loan_purpose,bad_public_record,revol.util,not.fully.paid
6,0.1496,1,667,0.0,debt_consolidation,1.0,76.8,1
7,0.1114,1,722,0.0,all_other,0.0,68.6,1
57,0.1343,1,682,0.0,credit_card,0.0,74.1,1
65,0.1059,1,687,1.0,all_other,0.0,36.9,1
73,0.1501,1,677,0.0,small_business,0.0,75.3,1

In [7]:
df[['int.rate','credit.policy','fico','recent_inq.last.6mths','loan_purpose','bad_public_record','revol.util','not.fully.paid']][df['not.fully.paid']==0].head()

,int.rate,credit.policy,fico,recent_inq.last.6mths,loan_purpose,bad_public_record,revol.util,not.fully.paid
0,0.1189,1,737,0.0,debt_consolidation,0.0,52.1,0
1,0.1071,1,707,0.0,credit_card,0.0,76.7,0
2,0.1357,1,682,1.0,debt_consolidation,0.0,25.6,0
3,0.1008,1,712,1.0,debt_consolidation,0.0,73.2,0
4,0.1426,1,667,0.0,credit_card,0.0,39.5,0

In [8]:
x=df[['credit.policy','int.rate','fico','loan_purpose','revol.util','recent_inq.last.6mths']][df['not.fully.paid']==1]

In [9]:
x

,credit.policy,int.rate,fico,loan_purpose,revol.util,recent_inq.last.6mths
6,1,0.1496,667,debt_consolidation,76.8,0.0
7,1,0.1114,722,all_other,68.6,0.0
57,1,0.1343,682,credit_card,74.1,0.0
65,1,0.1059,687,all_other,36.9,1.0
73,1,0.1501,677,small_business,75.3,0.0
...,...,...,...,...,...,...
9573,0,0.1461,672,all_other,82.1,2.0
9574,0,0.1253,722,all_other,1.1,5.0
9575,0,0.1071,687,debt_consolidation,82.9,8.0
9576,0,0.1600,692,home_improvement,3.2,5.0
9577,0,0.1392,732,debt_consolidation,57.0,6.0

In [10]:
x=df[['credit.policy','int.rate','fico','loan_purpose','revol.util','recent_inq.last.6mths']][df['not.fully.paid']==0]

In [11]:
x

,credit.policy,int.rate,fico,loan_purpose,revol.util,recent_inq.last.6mths
0,1,0.1189,737,debt_consolidation,52.1,0.0
1,1,0.1071,707,credit_card,76.7,0.0
2,1,0.1357,682,debt_consolidation,25.6,1.0
3,1,0.1008,712,debt_consolidation,73.2,1.0
4,1,0.1426,667,credit_card,39.5,0.0
...,...,...,...,...,...,...
9561,0,0.0788,722,all_other,61.6,4.0
9562,0,0.1348,717,debt_consolidation,28.2,6.0
9564,0,0.1385,687,all_other,51.2,4.0
9567,0,0.1311,687,all_other,13.8,5.0
9568,0,0.1979,667,all_other,59.8,6.0